@font-face {
    font-family: 'bariol';
    src: url('../font/bariol_regular-webfont.ttf') format('truetype');
}
body, html, button{
	padding:0;
	margin:0;
    font-family: 'bariol';
	font-size:20px; 
	overflow-x: hidden;
}
h1{
	font-size:36px;
	font-weight: 100;
	color: rgba(0,0,0,0.8);
}
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
.container:before,
.container:after {
  	content:"";
}
.container:after {
  	clear:both;
}
.container {
	zoom:1; /* For IE 6/7 (trigger hasLayout) */
}
.page{	
	padding: 0;
	position: absolute;
	top:0;
    width: 100%;
    height: 100%;
    text-align: center;
    display: table;
}
.home-page{
	background: url(../img/bg-main.jpg) no-repeat center;
	background-size: cover;
}
.content{
	display: table-cell;
	vertical-align: middle;
}
.home-content{
	margin-right: 10px;
	vertical-align: top;
	display: inline-block;
}
.home-left{
	text-align: right;
}
.home-gif{
	height: 220px;
	width: 220px;
	background: url(../img/bot-desk.gif);
	background-size: cover;
}
.home-text{
	font-size: 20px;
	color: rgba(0,0,0,0.5);
}
.home-btn{
	/* width: 175px; */
	padding: 10px;
	margin-right: 10px;
	background: none;
	border-radius: 10px;
	cursor: pointer;
}
.hi-btn{
	border: 2px solid #0096FF;
	color: #0096FF;
}
.km-btn{
	border: 2px solid #FFB481;
	color: #FFB481;
}
.hi-btn:hover{
	background: #0096FF;
	color:white;
}
.km-btn:hover{
	background: #FFB481;
	color:white;
}
.km-btn:hover .km-link{
	background: #FFB481;
	color:white;
}
.km-link{
	color: #FFB481;
	text-decoration: none;
}
.primary-hl{
	color: #0096FF;
}
.accent-hl{
	color: #FF9800;
}
.header{
	padding: 20px;
	font-size: 36px;
	position: absolute;
	left: 0;
	color:#0087E2;
	width: 100%;
	height:100px;
	top:0;
}
.alt-header{
	color:white;
	padding-left: 10px;
	padding-top: 5px;
	font-size: 24px;
	position: fixed;
	left: 0;
	top:-56px;
	height: 56px;
	box-sizing:border-box;
	background:rgba(0, 135, 226, 1);
	width: 100%;
}
.footer{
	position: absolute;
    font-size: 42px;
    color: rgba(0,0,0,0.6);
    bottom: 0;
    left: 0;
    text-align: center;
    width: 100%;
}
.main-logo{
	height: 50px;
	vertical-align: middle;
	margin-right: 15px;
}
.logo-link{
	text-decoration: none;
	color: #0087E2;
}
.alt-logo-link{
	text-decoration: none;
	color: white;
}
.alt-logo{
	height: 40px;
	width: 40px;
	vertical-align: bottom;
    margin-right: 5px;
}
.menu-logo{
	font-size: 24px;
	float: right;
	margin-right: 50px;
	margin-top: 10px;
}
.fa, .menu-logo{
	cursor: pointer;
}
.down-icon:hover{
	color:black;
}
.side-menu{
	position: fixed;
	top: 0;
	right: -325px;
	height: 100%;
	width:325px;
	background:#FFB481;
	display: table;
	text-align: left;
	padding:35px;
	box-sizing: border-box;
}
.menu-icons{
	display: inline-block;
}
.close-icon{
	display:none;
	opacity:0;
}
.close-icon img{
	height: 30px;
	vertical-align: text-bottom;
}
.menu-content{
	display: table-cell;
	vertical-align: middle;
	color: white;
}
.menu-item{
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid white;
}
.menu-item:nth-last-child(1){
	font-size:18px;
	border-bottom: none;
}
.icon{
	vertical-align: middle;
	height:30px;
	width:30px;
}
.sm-icon{
	height:20px;
	width:20px;
	margin:5px;
}
.chat-page{
	top:100%;
	background:url(../img/chat.jpg);
	background-size: cover;
}

.chat-page-content{
	color: white;
	box-sizing:border-box;
	display: table-cell;
	vertical-align: top;
	padding:50px;
	padding-top:100px;
}
.chat-left{
	width: 70%;
}
.chat-right{
	border-left: 5px solid #FF9800;
	text-align: left;
	background: rgba(0,0,0,0.3);
	width: 30%;
}
.chat-page .chat-right{	
	opacity:0;
	position: relative;
	right: -30%;
}
.chat-page-title{
	font-weight: bold;
	font-size:34px;
}
.chat-content{
	color:rgba(255,255,255,0.7);
}
.lm-btn{
	border: 2px solid rgba(255,255,255,0.7);
	color: rgba(255,255,255,0.7);
}
.lm-btn:hover{
	background:rgba(255,255,255,0.7);
	color: rgba(0,0,0,0.7);
}
.lm-btn:hover .link-white{
	color: rgba(0,0,0,0.7);
}
/*
.chat-footer, .bill-footer, .bye-footer, .testi-footer{
	bottom:70px;
}*/
.tes-text{
	display: none;
}
.chat-container{
	height: 80%;
	width: 70%;
}
.chat-container .container{
	opacity: 0;
}
.chat-msg{
	width: 70%;
	margin: 10px;
	padding: 20px;
	border-radius:50px;
}
.to-msg{
	float:right;
	background: #9e8c8c;
	border-bottom-right-radius:0px;
}
.from-msg{
	background: #0096FF;
	border-bottom-left-radius:0px;
	float:left;
}
.bill-page{
	top:200%;
	background:url(../img/bill.jpg);
	background-size: cover;
}
.bill-left{
	text-align: left;
	width: 30%;
	background: rgba(0,0,0,0.3);
	border-right: 5px solid #FF9800; 
}
.bill-right{
	border: none;
	background: none;
	width: 70%;
}
.bill-right .chat-container{
	width: 100%;
}
.bill-page .bill-left{	
	opacity:0;
	position: relative;
	left: -30%;
}
.doctor-options{
	background: none;
}
.doctor-option{
	color:white;
	text-align: center;
	padding-top: 20px;
	display: inline-block;
	vertical-align: top;
	width: 160px;
	height: 180px;
	border: 5px solid #0096FF;
	border-radius: 10px;
	background: url(../img/doc.png);
	background-size: cover;
	background-position: 20% 2%;
}
.doctor-option:hover{
	cursor: pointer;
	opacity:0.6;
}
.bye-page{
	top:300%;
	background:url(../img/bye.jpg);
	background-size: cover;
}
.bye-page-content{
	text-align: center;
	border-top: 5px solid #FF9800;
	background: rgba(0,0,0,0.3);
	position: absolute;
	bottom: -55%;
	left:0;
	opacity:0;
	height: 40%;
	width: 100%;
}
.bye-content-item{
	padding: 20px;
	color: white;
	text-align: left;
	display: inline-block;
	vertical-align: top;
	width: 25%;
}
.bye-footer{
	color:white;
}
.testi-page{
	top:400%;
	background:white;
}
.mention-container{
	padding-top: 100px;
	height: 35%;
	width: 100%;
	background: rgba(242,242,242,1);
	border-bottom: 5px solid #FF9800;
}
.mention-container img{
}
.mention-item{
	margin-right: 20px;
	margin-top: 50px;
	display: inline-block;
	vertical-align: middle;
}
.testi-container{
	margin: 0 auto;
	width: 70%;
	color:rgba(0,0,0,0.7);
	padding-top: 50px;
	height:100px;
}
.testi-person-container{
	height: 200px;
	width: 100%;
	margin-top: 50px;
	text-align: center;
}
.testi-person{
	opacity: 0.6;
	cursor: pointer;
	display: inline-block;
	vertical-align: top;
	height: 150px;
	margin: 30px;
}
.testi-person:hover{
	opacity: 1;
}
.person-img img{
	height: 100px;
	/* width: 100px; */
	border-radius: 150px;
	/* background: url(../img/meg.png) ;
	background-size: cover; */
}
.backToTop{
	cursor: pointer;
}
.about-page, .app-page{
	background: #0096FF;
	color:white;
}
.link-white{
	color:white;
}
.link-menu-acc{
	color:#FFB481;
}
.menu-white{
	color: #0096FF;
	background: white;
}
.menu-white .menu-content{
	color: #0096FF;
}
.menu-white .menu-item{
	border-bottom: 1px solid #0096FF;
}
.menu-orange{
	color: #FF9800;
	background: white;
}
.menu-orange .menu-content{
	color: #FF9800;
}
.menu-orange .menu-item{
	border-bottom: 1px solid #FF9800;
}
.menu-accent .menu-item{
	color: #FFB481;
	border-bottom: 1px solid #FFB481;
}
.about-content-container{
	width: 70%;
	margin: 0 auto;
	padding-top: 100px;
	text-align: left;
}
.about-title{
	width:50%;
	font-size:36px;
}
.about-heading{
	border-bottom: 1px solid white;
	padding-bottom: 20px;
}
.about-content{
	font-size:24px;
	font-weight: 100;
}
.about-footer{
	text-align: right;
	font-size: 22px;
	padding: 20px;
	padding-right: 50px;
	color:white;
}
.about-footer{
	width: 95%;
}
.link-primary{
	text-decoration: none;
	color:#0096FF;
}
.app-title{
	text-align: right;
}
.app-content{
	font-size:28px;
	color:rgba(255,255,255,0.7);
}
.app-btn{
	color:white;
	border: 2px solid white;
}
.app-btn:hover{
	color:#0096FF;
	border: 2px solid #717a7f;
	background: white;	
}
.app-img{
	vertical-align: middle;
	margin-right: 10px;
}
.app-content{
	display: inline-block;
	vertical-align: middle;
	width: 48%;
}
.app-heading{
	font-size:48px;
	color: white;
}
.app-text{
	margin-bottom: 20px;
}
.hiw-content{
	text-align: left;
	width:45%;
}
.hiw-heading{
	text-align: right;
	font-size:36px;
	color:white;
	padding-bottom: 10px;
	margin-bottom: 10px;
}
.health-lib-page{
	background: url(../img/health-lib.jpg);
	background-size: cover;
	overflow-y: hidden; 
}
.other-header{
	z-index:3;
	top:0;
}
.other-header .menu-logo{
	width: 330px;
	text-align: right;
}
.header-disabled{
	z-index:-1;
}
.health-left{
	padding:0;
	padding-top:56px;
	color:black;
	background: rgba(255,255,255,0.6);
}
.health-right{
	color: rgba(0,0,0,0.7);
	background: rgba(255,255,255,0.9);
}
.health-query{
	cursor: pointer;
	width: 100%;
	height: 150px;
	color:rgba(0,0,0,0.6);
	border-bottom: 2px solid #FF9800;
	display: block;
}
.health-query:hover{
	background: rgba(231, 231, 231, 0.78);
}
.question-query-item:hover{
	background: rgba(231, 231, 231, 0.9);
}
.health-query-text{
    display: table-cell;
    vertical-align: middle;
    padding: 25px;
    text-align: left;
}
.question-query{
	height: initial;
}
.question-query:hover{
	background: none;
}
.question-query-item{
	padding: 20px; 
	border-bottom: 2px solid #FF9800;
}	
.question-query-item:nth-last-child(1){
	border-bottom: none;
}
.question-query-subitem{
	padding: 0;
	width: 200px;
	display: inline-block;
	vertical-align: top;
	height: 200px;
	margin: 30px;
	text-align: center;
}
.question-query-subitem img{
	margin-bottom: 10px;
}
.search-clinic-page{
	background: url(../img/map.jpg);
	background-size: cover;
}
.search-inp{
	position: absolute;
    width: 400px;
    top:50%;
    margin-left: -13%;
	border: 3px solid #FF9800;
    font-size: 24px;
    font-family: 'bariol';
    padding: 20px;
    background: rgba(255,255,255,0.8);
    border-radius: 100px;
    padding-left: 50px;
}
.health-lib-home-page{
	background: url(../img/health-home.jpg);
	background-size: cover;
}
#map{
	height: 100%;
	width: 100%;
}
.search-result-page{
	/*background: url(../img/result.jpg);
	background-size: cover;*/
}
.result-left{
	position: absolute;
	background: rgba(255,255,255,0.8);
}
.result-left .health-query-text{
	vertical-align: top;
}
.result-right{
	position: absolute;
	opacity: 0;
	padding: 0;
	padding-top: 56px;
	color:black;
	background: rgba(255,255,255,0.8);
}
.tab-container{
	background: rgba(231, 231, 231, 1);
	width: 100%;
	text-align: center;
	padding-top: 20px;
}
.tab-title-item{
	padding: 10px;
	display: inline-block;
	width: 120px;
	color:rgba(0,0,0,0.7);
	cursor:pointer;
}
.tab-title-item:hover{
	color: #FF9800;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px; 
	background: white;
}
.tab-active{
	color: #FF9800;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px; 
	background: white;
}
.result-doctors{
	width: 100%;
	text-align: center;
}
.result-doctor-item{
	display: inline-block;
	vertical-align: top;
	height: 130px;
	width: 130px;
	margin: 20px;
}
.result-doctor-item img{
	height: 120px;
}
.chief-doctors .result-doctor-item{
	width: 175px;
	height: 175px;	
}
.chief-doctors img{
	height: 175px;
}
.result-doc-name-small{
	font-size: 14px;
}
.for-doctors-page{
	background:#cfcfcf;
}
.for-doctors-content{
	width: 50%;
	display: table-cell;
	vertical-align: bottom;
}
.for-doctors-left{
	padding-right: 30px;
	text-align: right;
}
.for-doctors-right{
	padding-left: 30px;
	text-align: left;
	background: #FFB481;
}
.for-doctors-title{
	position: absolute;
	top:70px;
	width: 100%;
	text-align: center;
}
.for-doctors-title-content h1{
	font-size:36px; 
	color:white;
}
.for-doc-container{
	width: 300px;
}
.left-doc-img, .right-doc-img{
	height: 105%;
	width: 90%;
}
.left-doc-img{
	background: url(../img/for_doctors_left_image.png);
	background-position: 0% 100%;
	background-size: cover;
	float: right;
}
.right-doc-img{
	background: url(../img/for_doctors_right_image.png);
	background-position: 0% 100%;
	background-size: cover;
	float: left;
}
.for-doc-left{
	width: 60%;
	float: left;
	text-align: right;
}
.for-doc-right{
	text-align: left;
	width: 35%;
	float: right;
}
.for-doctors-content{
	color:white;
}
.for-doc-img{
    height: 800px;
    width: 450px;
}
.doc-left-desc{
    padding: 5px;
    color: rgba(0,0,0,0.4);    
	position: absolute;
    left: 20px;
    bottom: 200px;
}
.doc-right-desc{
    padding: 5px;
    color: rgba(0,0,0,0.4);    
	position: absolute;
    right: 20px;
    bottom: 300px;
}
.doc-menu-content{
	display:none;
}
.doc-menu-content .menu-content, .menu-accent .menu-content{
	color: #FFB481;
}
.doc-menu-content .menu-item{
	border-bottom: none;
	color: #FFB481;
}
.menu-input{
	border: none;
    border-bottom: 2px solid #FFB481;
    width: 100%;
    font-size: 16px;
    padding: 10px;
    padding-left: 0;
}
.contact-footer{
	margin-bottom: 20px;
	font-size: 24px;
}
.menu-contact .menu-input{
	background: #FFB481;
}
.contact-page h1{
	color: rgba(0,0,0,0.7);
}
.contact-content{
	width: 350px;
	text-align: left;
	margin: 0 auto;
}
.contact-img{
	width: 70px;
	vertical-align: middle;
}
.contact-content-item{
	padding-left: 20px;
	cursor: pointer;
	margin-bottom: 20px;
}
.contact-content-item h1{
	text-align: center;
	font-size: 24px;
	color: rgba(0,0,0,0.4);
}
.contact-content-item h1:hover{
	color:#FFB481;
}
.menu-contact{
	display: none;
}
.menu-primary{
	background: #FFB481; 
}
.menu-primary .menu-item{
	color: white;
	border-bottom: 1px solid #FFF;
}
.contact-bot{
	position: absolute;
	bottom: 0;
	left:0;
	height: 350px;
	width: 150px;
	background: url(../img/contact_us_pic.png);
	background-size: cover;
	height: 500px;
    width: 380px;
}
.fix-foot{
	position: absolute;
	bottom: 0;
	left:400px;
	font-size: 26px;
	padding-bottom: 10px;
    color: rgba(0,0,0,0.6);
}
.custom-menu-item{
	display: none;
}
.mobile-only{
	display: none;
}
.mention-controls, .testi-controls{
	position: absolute;
	top:18vh;
	left:0;
	height: 100px;
	width: 99%;
	box-sizing:border-box;
	padding:10px;
	font-size: 24px;
	padding-top:15px;
}
.control-left{
	float:left;
}
.control-right{
	float:right;
}
.testi-controls{
    top: 95vh;
    font-size: 30px;
}
.about-img-container{
	zoom: 0.57;
}
.about-img{
	vertical-align: top;
	display: inline-block;
    width: 250px;
    height: 200px;
	background: url(../img/about1.png) no-repeat;
	background-size: contain;
}
.about-ai{
	margin-left: 40px;
	background: url(../img/about3.png) no-repeat;
	background-size: contain;	
    height: 150px;
}
.about-do{
    height: 150px;
	background: url(../img/about2.png) no-repeat;
	background-size: contain;	
}
.about-img-desc{
	text-align: center;
	width: 70%;
	position: relative;
	bottom:-150px;
	left:0;
	font-size: 20px;
	color:rgba(255,255,255,0.7);
}
.health-home-inp{
	border: 3px solid #FF9800;
    font-size: 24px;
    font-family: 'bariol';
    padding: 20px;
    background: rgba(255,255,255,0.8);
    border-radius: 100px;
    padding-left: 50px;
}
.floating-btn{
	position: absolute;
	bottom: 50;
	right: 50;
	background:url(../img/logo.png);
	background-size: cover;
	height: 70px;
	width: 70px;
	border-radius:100px;
	box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, .4);
	cursor:pointer;
}
.floating-white{
	background:url(../img/logo-wt.png);
	background-size: cover;
}
.mail-success-overlay{
	display: none;
	background: rgba(0,0,0,0.7);
	z-index:99;
}
.mail-success-body h1{
	background: white;
	width: 50%;
	padding: 20px;
	border-radius: 15px;
	margin: 0 auto;
}
.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}
.custom-file-input::before {
  	content: '\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\f0c6';
    display: inline-block;
    border-radius: 3px;
    padding: 5px 8px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    font-weight: 100;
    font-size: 20px;
}
.custom-file-input{
	position: relative;
    left:-45px;
    width: 250px;
}
/*
-Primary (#0096FF)
-Accent (#FF9800)

- Top Menu Bar (#0087E2)
- Right Menu Panel (#FFB481)
*/